
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<app-navbar></app-navbar>

<!-- .........................................................................................product Details....................................................................................................................... -->
<div id="prodetails" class="section-p1">
<div class="Single-pro-img">
  <img src="../../assets/images/{{finaldescription.description}}.jpg" width="100%" id="main-img" alt="">
  <div class="s-img-grp">
    <div class="small-imgs" >
      <img src="../../assets/images/{{finaldescription.description}}1.jpg" width="100%" id="small1" alt="" appGallery>
    </div>
    <div class="small-imgs">
      <img src="../../assets/images/{{finaldescription.description}}2.jpg" width="100%" id="small2" alt="" appGallery/>
    </div>
    <div class="small-imgs">
      <img src="../../assets/images/{{finaldescription.description}}3.jpg" width="100%" id="small3" alt="" appGallery/>
    </div>
    <div class="small-imgs">
      <img src="../../assets/images/{{finaldescription.description}}.jpg" width="100%" id="small4" alt="" appGallery/>
    </div>
  </div>
</div>

<div class="details-pro">

  <h5><a routerLink="/product"> Home / products</a></h5>
  <h3> {{finaldescription.description}}</h3>
  <h2 *ngIf="offer==false"> {{finaldescription.originalAmount|currency:'INR'}}</h2>
  <h2 *ngIf="offer==true"> {{finaldescription.originalAmount| Price |currency:'INR'}}</h2>
  <h3>Unit</h3>
  <input type="number" value="1">
  <a routerLink="/cart"><button (click)="addedCart(finaldescription)">Add to cart</button></a>
   <button class="wishlist" (click)="wishlist(finaldescription)">Wishlist</button>
   <h3 style="color:green">Stock Available  : {{finaldescription.stock}}</h3>
  <h4>Product details</h4>
  <span><p>{{finaldescription.details|json}}</p></span>
</div>
</div>

<div class="product-review">
<div class="star-rating">
  <span class="star" *ngFor="let star of stars" [class.active]="star.isActive" (click)="rate(star.value)">&#9733;</span>
</div>
<div class="feedback">
  <div>
  <textarea [(ngModel)]="feedbackText" placeholder="About the Product..."></textarea></div>
  <div> <button (click)="submitFeedback()">Post</button></div>
</div>
</div>
<!-- <div class=main-container>
  <div class="ui">
    <div class="details-form">
      <form id="creditcard">
        <div class="number-container">
           <label >Card Number</label>
           <input type="text" name="card-number" id="card-number" placeholder="1596 2578 7412" required>
        </div>

        <div class="name-container">
         <label >Holder</label>
         <input type="text" name="name-text" id="name-text" placeholder="Gautam" required>
      </div>

      <div class="info-container">
       <div class="expiration">
         <label>Valid thiru</label>
         <input type="text" name="valid-txt" maxlength="5" placeholder="02/40" required>
       </div>

       <div class="cvv-container">
          <label>CVV</label>
          <input type="text" name="cvv-text" id="cvv-text" maxlength="3" required>
       </div>
     </div>
        <button> Pay</button>
      </form>
    </div>

    <div class="right-container">
      <div class="card">
        <div class="first">
            <img src="../../assets/images/nfc.png">
            <div class="card-digits">
                <h2>1234 5678 9123</h2>
            </div>

            <div class="chip">
              <img src="../../assets/images/creditcard-chip.png">
            </div>

            <div class="card-infos">
                <div class="exp">
                     <label>Valid thiru</label>
                      <p> 02/40</p>
                </div>

                <div class="cvv">
                  <label>CVV</label>
                  <p>135</p>
                </div>
            </div>

            <div class="card-holder">
              <label>Holder</label>
              <h4>Gautam</h4>
            </div>

        </div>
      </div>
    </div>

  </div>
</div> -->

<app-footer></app-footer>
