<app-navbar></app-navbar>
<body>
<header>

       <div class="user">
            <img src="../../assets/images/home-img.svg" alt="">
            <h3 class="name"> Gautam</h3>
            <p class="post">Dev</p>
       </div>

       <nav class="profile_sidebar">
        <ul>
         <li><a routerLink="details">Account Info </a></li>
         <li><a routerLink="wishlist">My Wishlist</a></li>
         <li><a routerLink="offer">Offers</a></li>
         <li><a routerLink="prescription">My Prescription</a></li>
         <li><a routerLink="address">Delivery Address</a></li>
         <li><a routerLink="">Logout</a></li>
        </ul>
       </nav>

</header>

<!-- <button class="button" (click)="address_popup()">Add address</button>

<dialog class="addres">
  <div class="gridAddress">
<form>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="mobile">Phone :</label>
  <input type="text" id="address" name="mobile" required>

  <label for="address">Address:</label>
  <input type="textbox" id="address" name="address" required>

  <label for="city">District:</label>
  <input type="text" id="city" name="city" required>

  <label for="state">State:</label>
  <input type="text" id="state" name="state" required>

  <label for="zip">Pincode:</label>
  <input type="text" id="zip" name="zip" required>

  <button type="submit">Save</button>
</form>
</div>
</dialog> -->

<div id="menu" class="fas fa-bars"></div>

<router-outlet></router-outlet>



</body>>
