
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<app-navbar></app-navbar>
<section class="home">

  <div class="home_img">
    <img src="../../assets/images/istockphoto-3.jpg">
  </div>

  <div class="home_content">
    <span>Quality Chemist and Druggist!!!</span>
    <h3>YOUR DOOR STEP PHARMACY!</h3>
    <a href="#" class="link">Get Started</a>
  </div>
</section>


<section class="banner-container">
  <div class="banner">
    <img src="../../assets/images/homepage-banner1.jpg">
    <div class="content">
      <h3>Special Offer</h3>
      <p>Upto 45% off</p>
    <a href="#" class="link">Checkout</a>
    </div>
  </div>

  <div class="banner">
    <img src="../../assets/images/home-banner3.jpg">
    <div class="content">
      <h3>Special Offer</h3>
      <p>Upto 45% off</p>
    <a href="#" class="link">Checkout</a>
    </div>
  </div>
</section>

<!-- <div class="slider_img">
  <ng-image-slider [images]="imgcollection" ></ng-image-slider>
</div> -->
<section class="about-container">
<h3> Effortless Online Medicine Orders at Medcare  Pharmacy</h3>
<p>Medcare Pharmacy we ensure that. All you need to do is: Browse through our wide variety of products Add products to your cart and
  complete the payment. Wow! Your order will be on its way to you. Medcare Pharmacy is your go-to online pharmacy store for all your
  medicine needs. We also have a range of products in the personal care, baby care, health and nutrition, wellness, and lifestyle categories.
   Come explore everything related to healthcare.</p>

<h3>Reasons To Buy Medicine From Medcare Pharmacy</h3>
<p>Medcare Pharmacy has been providing you with genuine medicines round-the-clock, through 24-hour pharmacies. And now
  through Medcare Pharmacy, we intend to make your lives easier – by getting your medicines delivered to you. Yes, no more stepping
  out to get your medicines, no more standing in long queues, no more worrying about the genuineness of medicines, no more sweat!
  Here are more reasons why you should buy your medicines from Medcare Pharmacy: Super-fast deliveries. In select cities, deliveries are
  done in as less as 1 day Largest pharmacy chain in India with over 4,500 stores Attractive deals on medicines and other health related
   products.</p>

<h3>Most Trusted Online Medical Store Of India</h3>
<p>We ensure that every product sold through our online are checked for their authenticity, quality, and compliance with the Central
  Drugs Standard Control Organization, the national regulatory body for Indian pharmaceuticals and medical devices it is 100% Genuine
  Medicine We believe that when it comes to medicines, quality and authenticity should never be compromised.
 Are we missing something here? Yes, the time we take to deliver your order. We understand that you may sometimes require medicines
  in urgency and that is why we assure you the fastest home delivery of your medicines. Also, depending on the city you reside in,
  medicines can be delivered in as less as 1 hour.</p>

<h3>Extra Benefits Of Online Medicine Orders</h3>
<p>When you order medicines at Medcare Pharmacy, not only do you get your medicines delivered on time and at your doorstep, but
  you also get additional benefits. You can earn Medcare Health Credits whenever you order medicine online and also when you purchase
  other non-pharma products You can use these Health Credits to make more purchases on our platform. And not to forget the discounts
  and exclusive offers we bring out from time to time.</p>

</section>

<app-footer></app-footer>
