

<!-- <header>

    <div class="header">
      <div class="logo">
        <li><i class="fa-sharp fa-solid fa-heart-pulse"></i>Medcare+</li>
      </div>
            <li><a href="#"><i class="fa-solid fa-house"></i> HOME</a></li>
            <li><a routerLink="/contact"><i class="fa-solid fa-book"></i>CONTACT US</a></li>
            <li><a ><i class="fa-solid fa-user-plus"></i>LOGIN</a></li>
    </div>
    </header>

    <section class="cnt">
    <div class="img">
        <img src="../../assets/images/4160834.jpg" alt="">
    </div>

    <div class="cont">
        <h3>YOUR DOOR STEP PHARMACY!</h3>
        <p class="slogan">Quality Chemist and Druggist!!!</p>
        <p> Our-in-home pharmacist ensure your medicines reach you when you need them</p>
        <div class="search"><input type="search" id="searchbox" placeholder="search your medicines here"> <i class="fa-solid fa-magnifying-glass"></i></div>
         <a href="login.html" class="loginbutton"> Login <span class="fas fa-chevron-right"></span> </a>
        <div class="boxes">
            <div class="box1">
                <h1>100%</h1>
                <h4>Delivery Success</h4>
            </div>
            <div class="box2">
                <h1>4.5</h1>
                <h4>Customer review</h4>
            </div>
        </div>
    </div>



    </section>
    <footer class="sec-1">
      <div class="col">
          <h3> medcare</h3>
          <h4>Contact</h4>
          <P><strong>Address:</strong>45 Park Road, Erode </P>
          <p> <strong>Phone: </strong>9865451374 9080555646</p>
          <P><strong>Hours:</strong> 9:00 am - 7:00 pm, Mon to Sat</P>
          <div class="follow">
              <h4>Follow us</h4>
              <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fab fa-twitter"></i>
              </div>
          </div>
      </div>

      <div class="col">
          <h3> About</h3>
          <a href="#">About us</a>
          <a href="#"> Delivery Partner</a>
          <a href="#">Privacy policy</a>
          <a href="#">Terms and conditions</a>
          <a href="#">Contact us</a>
      </div>

      <div class="col">
          <h3> My Account</h3>
          <a href="#">Sign In</a>
          <a href="#"> View cart</a>
          <a href="#">Orders</a>
          <a href="#">Track my order</a>
          <a href="#">Help</a>
      </div>

      <div class="col-payment">
          <h3>Payment</h3>
          <p>Secured payment gateways</p>
          <img src="../../assets/images/pay1.jpeg" id="pay-logo" />
      </div>

      <div class="copy">
          <p> &copy; 2022 | All rights received</p>
      </div>
    </footer> -->


<!-- --------------------------------------------------------------login modal-------------------------------------------------------- -->


<!-- ---------------------------------------------------------------------------Register modal------------------------------------------------------- -->



<!-- *****************************footer***************************************************** -->

<app-navbar></app-navbar>
<section class="home">

  <div class="home_img">
    <img src="../../assets/images/istockphoto-3.jpg">
  </div>

  <div class="home_content">
    <span>Quality Chemist and Druggist!!!</span>
    <h3>YOUR DOOR STEP PHARMACY!</h3>
    <a href="#" class="link">Get Started</a>
  </div>
</section>


<section class="banner-container">
  <div class="banner">
    <img src="../../assets/images/home-banner4.jpg">
    <div class="content">
      <h3>Special Offer</h3>
      <p>Upto 45% off</p>
    <a href="#" class="link">Checkout</a>
    </div>
  </div>

  <div class="banner">
    <img src="../../assets/images/home-banner1.jpg">
    <div class="content">
      <h3>Special Offer</h3>
      <p>Upto 45% off</p>
    <a href="#" class="link">Checkout</a>
    </div>
  </div>
</section>

<!-- <div class="slider_img">
  <ng-image-slider [images]="imgcollection" ></ng-image-slider>
</div> -->
<section class="about-container">
<h3> Effortless Online Medicine Orders at Medcare  Pharmacy</h3>
<p>Medcare Pharmacy we ensure that. All you need to do is: Browse through our wide variety of products Add products to your cart and
  complete the payment. Wow! Your order will be on its way to you. Medcare Pharmacy is your go-to online pharmacy store for all your
  medicine needs. We also have a range of products in the personal care, baby care, health and nutrition, wellness, and lifestyle categories.
   Come explore everything related to healthcare.</p>

<h3>Reasons To Buy Medicine From Medcare Pharmacy</h3>
<p>Medcare Pharmacy has been providing you with genuine medicines round-the-clock, through 24-hour pharmacies. And now
  through Medcare Pharmacy, we intend to make your lives easier – by getting your medicines delivered to you. Yes, no more stepping
  out to get your medicines, no more standing in long queues, no more worrying about the genuineness of medicines, no more sweat!
  Here are more reasons why you should buy your medicines from Medcare Pharmacy: Super-fast deliveries. In select cities, deliveries are
  done in as less as 1 day Largest pharmacy chain in India with over 4,500 stores Attractive deals on medicines and other health related
   products.</p>

<h3>Most Trusted Online Medical Store Of India</h3>
<p>We ensure that every product sold through our online are checked for their authenticity, quality, and compliance with the Central
  Drugs Standard Control Organization, the national regulatory body for Indian pharmaceuticals and medical devices it is 100% Genuine
  Medicine We believe that when it comes to medicines, quality and authenticity should never be compromised.
 Are we missing something here? Yes, the time we take to deliver your order. We understand that you may sometimes require medicines
  in urgency and that is why we assure you the fastest home delivery of your medicines. Also, depending on the city you reside in,
  medicines can be delivered in as less as 1 hour.</p>

<h3>Extra Benefits Of Online Medicine Orders</h3>
<p>When you order medicines at Medcare Pharmacy, not only do you get your medicines delivered on time and at your doorstep, but
  you also get additional benefits. You can earn Medcare Health Credits whenever you order medicine online and also when you purchase
  other non-pharma products You can use these Health Credits to make more purchases on our platform. And not to forget the discounts
  and exclusive offers we bring out from time to time.</p>

</section>

<app-footer></app-footer>
