<!-- .................................................................................................navigation bar.......................................................................................... -->
<app-navbar></app-navbar>


<!-- .................................................................................................banner image............................................................................................ -->
<section id="page-header">
  <!-- <h2>#stay safe</h2> -->
  <!-- <p>Save more with coupons & up to 70% off! </p> -->
</section>
<!-- {{logInUser.username|json}} -->
<div class="wrapper">
  <nav>
    <ul class="">
      <li class="dropdown1"><a>Medicine</a>
         <ul class="menu-area">
          <ul>
             <h4>A</h4>
             <li><a>Glucometers</a></li>
            <li><a>Sugar Substitutes</a></li>
            <li><a>Diabetes Management Supplements</a></li>
            <li><a>Diabetes Care Ayurveda</a></li>
            <li><a>Lancets & Test Strips</a></li>
            <li><a>Eyewear</a></li>
            <li><a>Computer Glasses</a></li>
            <li><a>Eye Glasses</a></li>
            <li><a>Sunglasses</a></li>
            <li><a>Reading Glasses</a></li>
            <li><a>Contact Lenses (EW)</a></li>
          </ul>
         </ul>
      </li>
      <li class="dropdown1"><a>Wellness</a>
        <ul class="menu-area">
          <ul>
            <h4>Ayush</h4>
            <li><a>Ayurvedic</a></li>
            <li><a>Unani</a></li>
            <li><a>Homeopathy</a></li>
            <li><a>Siddha</a></li>
          </ul>
          <ul>
            <h4>Covid Essentials</h4>
            <li><a>Oxygen Can</a></li>
            <li><a>Personal & Home Essentials</a></li>
            <li><a>Business Essentials</a></li>
            <li><a>Mask, Gloves & Protective Equipment</a></li>
            <li><a>Travel Essentials</a></li>
          </ul>
          <ul>
            <h4>Diabetes Support</h4>
            <li><a>Glucometers</a></li>
            <li><a>Sugar Substitutes</a></li>
            <li><a>Diabetes Management Supplements</a></li>
            <li><a>Diabetes Care Ayurveda</a></li>
            <li><a>Lancets & Test Strips</a></li>
            <li><a>Eyewear</a></li>
            <li><a>Computer Glasses</a></li>
            <li><a>Eye Glasses</a></li>
            <li><a>Sunglasses</a></li>
            <li><a>Reading Glasses</a></li>
            <li><a>Contact Lenses (EW)</a></li>
          </ul>
          <ul>
            <h4> Personal Care</h4>
            <li><a>Home & Health</a></li>
            <li><a>Senior Care</a></li>
            <li><a>Face Personal Care</a></li>
            <li><a>Hands & Feet</a></li>
            <li><a>Oral Care</a></li>
            <li><a>Bath & Shower</a></li>
            <li><a>Body Care</a></li>
            <li><a>Personal Care Tools & Accessories</a></li>
            <li><a>Lip Care</a></li>
            <li><a> Bathing Accessories</a></li>
          </ul>
          <ul>
            <h4>Fitness</h4>
            <li><a>Weight Management</a></li>
            <li><a>Sports Supplements</a></li>
            <li><a>Smoking Cessation Support</a></li>
            <li><a>Vitamins And Supplements</a></li>
            <li><a>Family Nutrition</a></li>
            <li><a>Health Food And Drinks</a></li>
            <li><a>Ayurvedic Supplements</a></li>
          </ul>
          <ul>
            <h4>Surgical</h4>
            <li><a>Respiratory Supplies</a></li>
            <li><a>Surgical Consumables</a></li>
            <li><a>Iv Infusion</a></li>
            <li><a>Surgical Instrument</a></li>
            <li><a>Dressing</a></li>
            <li><a>Gi Care</a></li>
            <li><a>Urinary Care</a></li>
            <li><a>Wound Treatment</a></li>
          </ul>
          <ul>
            <h4>Mom & Baby</h4>
            <li><a>Baby Care</a></li>
            <li><a>Feminine Hygiene</a></li>
            <li><a>Maternity Care</a></li>
            <li><a>Baby Bath Time</a></li>
            <li><a>Toys & Games</a></li>
            <li><a>Maternity Accessories</a></li>
          </ul>
          <ul>
            <h4>Devices</h4>
            <li><a>Breathe Easy</a></li>
            <li><a>Surgical Accessories</a></li>
            <li><a>Measurements</a></li>
            <li><a>Orthopaedics</a></li>
            <h4>Veterinary</h4>
            <li><a>Petcare</a></li>
            <li><a>Farm Animals</a></li>
            <li><a>Aquaculture</a></li>
          </ul>
        </ul>
      </li>
      <li><a>Lab tests</a></li>
      <li class="dropdown1"><a>Beauty</a>
        <ul class="menu-area">
          <ul>
            <h4>Fragrances</h4>
            <li><a>men</a></li>
            <li><a>Unisex</a></li>
            <li><a>women</a></li>
          </ul>
          <ul>
            <h4>Hair</h4>
            <li><a>Hair care</a></li>
            <li><a>Hair color</a></li>
            <li><a>Hair styling</a></li>
            <li><a>Hair tools</a></li>
            <li><a>Scalp Treatments</a></li>
            <li><a>Shop by hair type</a></li>
          </ul>
          <ul>
            <h4>Men's Grooming</h4>
            <li><a>Beard care</a></li>
            <li><a>Shaving</a></li>
          </ul>
          <ul>
            <h4>Make-up</h4>
            <li><a>Eyes</a></li>
            <li><a>Face makeup</a></li>
            <li><a>lipsmakeup tools & brushes</a></li>
            <li><a>Nails</a></li>
          </ul>
          <ul>
            <h4>Mom & baby</h4>
            <li><a> bath time</a></li>
            <li><a>baby care</a></li>
            <li><a>Feminine Hygiene</a></li>
            <li><a>Maternity Accessories</a></li>
            <li><a>toys & Games</a></li>
          </ul>
          <ul>
            <h4>personal care</h4>
            <li><a>Bath & shower</a></li>
            <li><a>Bathing Accessories</a></li>
            <li><a>Body care</a></li>
            <li><a>Hands & feet</a></li>
            <li><a>home care</a></li>
            <li><a>Lip care</a></li>
            <li><a>Oral Care</a></li>
            <li><a>Personal care tools</a></li>
            <li><a>Senior care</a></li>
          </ul>
        </ul>
      </li>
      <li><a>Health corner</a></li>
    </ul>
  </nav>
</div>
<!-- ................................................................................................ Featured products ......................................................................................................... -->
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Essentials at very low price</p>
  <div class="pro-container ">
    <div class="grid three-columns">
      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Dettol antiseptic Liquid.jpg" alt=""></a>
        <div class="des">
          <span>Dettol</span>
          <h5>Dettol antiseptic Liquid</h5>
          <div class="star">
            4.5<i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Cetaphil Gentle Skin Cleanser.jpg" alt=""></a>
        <div class="des">
          <span>Cetaphil</span>
          <h5>Cetaphil Gentle Skin Cleanser</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Himalaya Baby shampoo.jpg" alt=""></a>
        <div class="des">
          <span>Shampoo</span>
          <h5>Himalaya Baby shampoo</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Volini PainKiller gel.jpg" alt=""></a>
        <div class="des">
          <span>Gel</span>
          <h5>Volini PainKiller gel</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/One touch Ultra Kit.jpg" alt=""></a>
        <div class="des">
          <span>Testing kit</span>
          <h5>One touch Ultra Kit</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Zebronics Pulse oximeter.jpg" alt=""></a>
        <div class="des">
          <span>Oximeter</span>
          <h5>Zebronics Pulse oximeter</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Proteinx Chocolate powder.jpg" alt=""></a>
        <div class="des">
          <span>Supplyments</span>
          <h5>Proteinx Chocolate powder</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="prodetails.html"><img src="../../assets/images/Horlicks Classic malt powder.jpg" alt=""></a>
        <div class="des">
          <span>Supplyments</span>
          <h5>Horlicks Classic malt powder</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$80</h4>
        </div>
        <a href="#"><i class="fal fas fa-shopping-cart cart"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- ..................................................................................................banner section.................................................................................................... -->
<section id="banner" class="section-m1">
  <h4>ayurvedic medicines</h4>
  <h2>Up to<span>70% off</span>= All medicines & Products</h2>
  <button class="ban">Explore Now</button>
</section>

<!-- ----------------------------------------------------Category section------------------------ -->
<div class="filter-box">
  <div class="fil-data">
    <img src="../../assets/images/caterogy-2.png">
  </div>
  <div class="fil-data">
    <img src="../../assets/images/caterogy-3.png">
  </div>
  <div class="fil-data">
    <img src="../../assets/images/caterogy-4.png">
  </div>
  <div class="fil-data">
    <img src="../../assets/images/caterogy1.png">
  </div>
  <div class="fil-data">
    <img src="../../assets/images/caterogy-5.png">
  </div>
</div>

<!-- <div class="a-zsection">
  <div class="a-z">
    <div class="letters">
      <a href="" (click)="a()">A</a><a href="" (click)="b()">B</a><a href="" (click)="c()">C</a><a href="">D</a><a href="">E</a><a href="">F</a><a href="">G</a><a
        href="">H</a><a href="">I</a><a href="">J</a><a href="">K</a><a href="">L</a><a href="">M</a><a href="">N</a><a
        href="">O</a><a href="">P</a><a href="">Q</a><a href="">R</a><a href="">S</a><a href="">T</a><a href="">U</a><a
        href="">V</a><a href="">W</a>X<a href="">X</a><a href="">Y</a><a href="">Z</a>
    </div>
  </div>

  <div class="products-alphabet">
    <div class="druglist" *ngFor="let drug of  finalData">
      <ul  >
        <li ><a>{{drug.name}}</a></li>
      </ul> -->

      <!-- <ul  >
        <h3>A</h3>
        <li ><a>{{drug.tproducts}}</a></li>
      </ul>

      <ul  >
        <h3>A</h3>
        <li ><a>{{drug.uproducts}}</a></li>
      </ul>
      <ul  >
        <h3>A</h3>
        <li ><a>{{drug.vproducts}}</a></li>
      </ul>
      <ul  >
        <h3>A</h3>
        <li ><a>{{drug.wproducts}}</a></li>
      </ul> -->

  <!-- </div>
</div> -->
<!-- .....................................................................................................Slide banner.............................................................................................................. -->
<section id="slide">
  <div class="slide-container">
    <h2>Why medcare ?</h2>
    <div class="slide-box">
      <img src="../../assets/images/big-family.webp">
      <h1>3 Million +</h1>
      <p> Registered users as of Mar 31, 2022</p>
    </div>
    <div class="slide-box">
      <img src="../../assets/images/characters-people.webp">
      <h1>10 Million + </h1>
      <p> Orders on Pharmeasy till date and still counting</p>
    </div>
    <div class="slide-box">
      <img src="../../assets/images/courier home-delivery.webp">
      <h1> 99000+</h1>
      <p>Unique items sold in the last 6 months </p>
    </div>
    <div class="slide-box">
      <img src="../../assets/images/call-doctor-289.webp">
      <h1>19500+</h1>
      <p> Pin codes serviced last 3 months</p>
    </div>
  </div>
</section>


<!-- --------------------------------------------------------All products--------------------------------------------------------------- -->
<section id="product1" class="section-p1">
  <h2>All Products</h2>
  <p>Essentials at very low price</p>
  <div class="all">
    <div class="pro-container">
      <div class="grid three-columns">
        <!-- 1 -->
        <div *ngFor="let pro of prodata" class="pro">
          <a routerLink="/product/{{pro.description}}"><img src="../../assets/images/{{pro.description}}.jpg"></a>
          <div class="des">
            <a routerLink="**"><span>{{pro.title}} </span></a><br>
            <h5>{{pro.description}} </h5><br>
            <div class="star">{{pro.rating}}<i class="fas fa-star"></i></div><br>
            <h4 class="price"> Price{{pro.originalAmount|currency:'INR'}} </h4>
            <h4 class="percent">{{pro.offerPercentage}}</h4>
          </div>

          <div class="icon"><button>Add to cart</button> </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ...........................................................................................................footer............................................................................................................................... -->
<footer class="sec-1">
  <div class="col">
    <h3> medcare</h3>
    <h4>Contact</h4>
    <P><strong>Address:</strong>45 Park Road, Erode </P>
    <p> <strong>Phone: </strong>9865451374 9080555646</p>
    <P><strong>Hours:</strong> 9:00 am - 7:00 pm, Mon to Sat</P>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h3> About</h3>
    <a href="#">About us</a>
    <a href="#"> Delivery Partner</a>
    <a href="#">Privacy policy</a>
    <a href="#">Terms and conditions</a>
    <a href="#">Contact us</a>
  </div>

  <div class="col">
    <h3> My Account</h3>
    <a href="#">Sign In</a>
    <a href="#"> View cart</a>
    <a href="#">Orders</a>
    <a href="#">Track my order</a>
    <a href="#">Help</a>
  </div>

  <div class="col-payment">
    <h3>Payment</h3>
    <p>Secured payment gateways</p>
    <img src="../../assets/images/pay1.jpeg" id="pay-logo" />
  </div>

  <div class="copy">
    <p> &copy; 2022 | All rights received</p>
  </div>
</footer>
