
<app-navbar></app-navbar>

<section id="cart-container" class="cantainer">
  <table width="100%">
      <thead>
          <tr>
              <td>Remove</td>
              <td>Image</td>
              <td>Product</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Total</td>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td> <a href="#"><i class="fas far fa-trash-alt"></i></a></td>
              <td><img  class="img"src="./images/product5.jpg" alt=""></td>
              <td>
                   <h5>
                      horlicks 1kg
                   </h5>
              </td>
              <td>
                  <h5>Rs: 180</h5>
              </td>
              <td><input class="in" value="1"type="number"></td>
              <td>
                  <h5>Rs: 180</h5>
              </td>
          </tr>

          <tr>
              <td> <a href="#"><i class="fas far fa-trash-alt"></i></a></td>
              <td><img  class="img"src="./images/dettol-b.jpg" alt=""></td>
              <td>
                   <h5>
                      horlicks 1kg
                   </h5>
              </td>
              <td>
                  <h5>Rs: 180</h5>
              </td>
              <td><input class="in" value="1"type="number"></td>

              <td>
                  <h5>Rs: 180</h5>
              </td>
          </tr>

          <tr>
              <td> <a href="#"><i class="fas far fa-trash-alt"></i></a></td>
              <td><img  class="img" src="./images/Prod3.jpg" alt=""></td>
              <td>
                   <h5>
                      horlicks 1kg
                   </h5>
              </td>
              <td>
                  <h5>Rs: 180</h5>
              </td>
              <td><input class="in" value="1"type="number"></td>

              <td>
                  <h5>Rs: 180</h5>
              </td>
          </tr>

      </tbody>
  </table>
</section>

<section id="cart-bottom" class="container">
  <div class="row">
      <div class="coupon">
          <div class="cont-1">
              <h5>COUPON</h5>
              <p>Ener your coupon here</p>
              <input type="text" placeholder="couon code">
              <button> APPLY COUPON</button>
          </div>
      </div>

      <div class="total">
          <div class="total-container">
              <h5>CART TOTAL</h5>
              <div class="flex">
                  <h4>Subtotal</h4>
                  <h4>Rs: 215.00</h4>
              </div>
              <div class="flex">
                  <h4>Shipping</h4>
                  <h4>Rs: 15.00</h4>
              </div>
              <div class="flex">
                  <h4>Total</h4>
                  <h3>Rs: 400.00
                  </h3>
              </div>
              <div><button >Proceed</button>
              </div>
          </div>
          </div>
  </div>
</section>
