
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<section>


<!-- <table class="cart-details">
  <thead>
    <th>Order Id</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderDetails">
      <td>#{{ order.id }}</td>
      <td>{{ order.Total_Amount | currency : "INR" }}</td>
      <td>In Progress</td>
      <td><a routerLink="/orders/{{order.id}}"><button>View Details</button></a></td>
      <td><button (click)="cancel()">Cancel Order</button></td>
    </tr>
  </tbody>
</table> -->

<details>
<summary><h1>Upcoming Orders</h1></summary>

 <div class="ordersection" >
  <div class="grid-columns">
  <div class="orders"  *ngFor="let item of specificOrder">
    <div  *ngIf="item.deliveryDate>=currentDate">
     <h2>Arriving on: {{item.deliveryDate}}th</h2><span>Total: Rs-{{item.price}}</span>
     <div class="orderImgs" >
     <img   src="../../assets/images/{{item.product}}.jpg">
    </div>
    <button (click)="details()">View Details</button>
    <button (click)="cancel()">Cancel Order</button>
  </div>
  </div>
 </div>
</div>
</details>

<details>
<summary><h1>Previous Orders</h1></summary>

<div class="ordersection"  >
  <div class="grid-columns"  >
  <div class="orders" *ngFor="let  item of menu; let i=index">
     <h2 style="color:rgb(74, 124, 231)">{{item.description}}</h2><span>Total: Rs-{{item.originalAmount}}</span>
     <div class="orderImgs" >
     <img   src="../../assets/images/{{item.description}}.jpg">
    </div>
    <h2>Ordered on: {{date[i]}}</h2>
  </div>
 </div>
</div>
</details>

 <!-- view details dialog box -->

 <dialog class="viewDetails">
  <div class="viewbox">
   <div class="details">
    <a (click)="closeModal()">x</a>
     <h2> Order Details</h2>
     <h4>Oder Id: 75489621</h4>
     <h4>Medicine Products  </h4>
     <h4>Order Confirmed on, Jun 22</h4>
     <h4>Delivery excepted by, {{orderDates.date}}</h4>
     <p>Need help?</p>
   </div>
  </div>
 </dialog>

 <dialog class="refund">
  <div class="viewbox">
    <div class="details">
         <a (click)="closeModal()">x</a>
        <h2>Refund Status</h2>
        <h4>Your Amount will refunded within 1-2 Hours</h4>
    </div>
  </div>
 </dialog>


</section>
