.container{
  max-width: 1440px;
  min-height: 100vh;
  margin:auto;
  display:flex;
  flex-direction: column;
}

.heading{
  font-size: 18px;
  font-weight: 400;
  color: grey;
  border-bottom: 1px solid blue;
  padding: 20px;
  display: flex;
  align-items: center;
  gap:20px;
}

.item-flex{
  display:flex;
  flex-grow: 1;
}

.checkout{
  width:70%;
  padding: 40px;
  background: wheat;
  border-right: 1px solid green;
}

.section-heading{
  color: grey;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.payment-form{
  margin-bottom: 40px;
}

.payment-method{
  display:flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.payment-method .method{
  border: 1px solid silver;
  border-bottom: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
}

.payment-method .selected {
  border-color: azure;
}
