<p>
  profile_offers works!
</p>
<section class="container">
  <h1 class="heading">Shopping Cart</h1>

  <div class="item-flex">

    <section class="checkout">
      <h2 class="section-heading">Payment Details</h2>

      <div class="payment-form">
        <div class="payment-method">
          <button class="method-selected"><span>Credit card</span></button>
          <button class="method-selected"><span>UPI</span></button>

        </div>

        <form>
          <div class="card-name">
            <label for="card-name" class="label-default">Cardholder's Name</label>
            <input type="text" name="card-name" id="card-name" classs="input-default">
          </div>

          <div class="card-number">
            <label for="card-number" class="label-default">Card Number</label>
            <input type="text" name="card-number" id="card-number" classs="input-default">
          </div>

          <div class="input-flex">

            <div class="expire-date">

              <label for="expire-date" class="label-default">Expiration date</label>

              <div class="input-flex">
                <input= type="number" name="day" id="expire-date" placeholder="31" min="1" max="31"
                  class="input-default">
                  <input= type="number" name="month" id="expire-date" placeholder="31" min="1" max="12"
                    class="input-default">
              </div>
            </div>

            <div class="cvv">
              <label for="cvv" class="label-default">CVV</label>
              <input type="text" name="cvv" id="cvv" classs="input-default">
            </div>

          </div>
        </form>
      </div>

      <button class="button-primary"><b>Pay</b> <span id="payamount">438</span> </button>
    </section>

    <section class="cart">

      <div class="cart-item-box">
         <h2 class="section-heading"> Order Summary</h2>
          <div class="produt-card">
              <div class="card">
                 <div class="img-box">
                    <img src="../../assets/images/banner-imgs10.jpg" class="product-img" width="80px">
                 </div>

                 <div class="detail">
                    <h4 class="product-name">Green</h4>
                    <div class="wrapper">

                        <div class="product-qty">
                          <button id="decrement">-</button>
                          <span id="quantity">1</span>
                          <button id="increment">+</button>
                        </div>

                        <div class="price">
                          Rs <span id="price">546</span>
                        </div>
                    </div>
                 </div>

                 <button id="product-close-btn">close</button>
              </div>
          </div>


      </div>

    <div class="wrapper">
       <div class="discount-coupon">
         <label for="discount-coupon" class="label-default">Gift Card</label>
         <div class="wrapper-flex">
           <input type="text" name="discount-coupon" id="discount-coupon" class="input-default">
           <button class="btn btn-outline">Apply</button>
         </div>
       </div>

       <div class="amount">
        <div class="subtotal">
           <span>Subtotal</span> <span>RS:<span id="subtotal">852</span></span>
        </div>

        <div class="tax">
          <span>Tax</span> <span>RS:<span id="tax">852</span></span>
       </div>

       <div class="total">
        <span>Total</span> <span>RS:<span id="total">852</span></span>
     </div>

       </div>

    </div>
    </section>

  </div>
</section>
