#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: rgb(34, 38, 41);
  position: sticky;
}

.logo {
  width: 50px;
  padding-left: 30px;
}

#header h2 {
  padding-right: 350px;
  color:rgb(135, 194, 50);
  font-weight: 800;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar #searchbox {
  height: 35px;
  margin-top: 10px;
  width: 170px;
  border-radius: 12px;
  border-color: rgb(86, 17, 129);
}
#navbar li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: rgb(135, 194, 50);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 21px;
  transition: 0.3s ease;
}

/* #navbar li a:hover {
    color:rgb(92, 230, 103);
} */

#navbar li a:hover,
#navbar li a.active {
  color: rgb(191, 195, 188);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(229,229,229);
  position: absolute;
  bottom: -4px;
  left: 30px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/****************************************************************************login&register *****************************************/
.container {
  width: 380px;
  height: 550px;
  /* margin-top: 7%; */
  /* margin-left: 90px; */
  margin: 0;
  border-radius: 25px;
  background-color:  rgb(3, 149, 169);
}

.login_header{
text-align: center;
padding-top:30px;
}

.login_header a {
margin-left: -300px;
text-decoration: none;
cursor: pointer;
font-size: larger;
color: azure;
}
.login_header h1 {
color: black;
font-size: 45px;
margin-bottom: 50px;
}

.main{
text-align: center;

}

.main input, button {
width: 300px;
height: 40px;
outline: none;
padding-left: 40px;
box-sizing: border-box;
font-size: 15px;
color: #333;
 margin-bottom: 20px;
}

.main button {
padding-left: 0;
background-color: #163476;
letter-spacing: 1px;
font-weight: bold;
color: rgb(239, 240, 241);
}

.main button:hover{
box-shadow: 1px 1px 1px 3px rgb(235, 233, 233);
background-color: #0640a3;
}

.main input:hover{
box-shadow: 1px 1px 1px 3px rgba(224, 223, 221, 0.937);
background-color: rgb(248, 246, 246);
}

.main span{
position: relative;
}
.main i {
position: absolute;
left: 15px;
color: rgb(202, 121, 121);
font-size: 16px;
top: 2px;
}

.register{
padding:10px;
}

.register h3 a{
text-decoration: none;
color: white;
cursor: pointer;
}

/* .change-password {
padding:2px;
} */

.change-password  h3 a{
text-decoration: none;
color: black;
}
.Loginmodal::backdrop{
  background-color: black;
  opacity: 0.8;
}

.Loginmodal{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.gridLogin{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.Registermodal{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.Registermodal::backdrop{
  background-color: black;
  opacity: 0.8;
}
.gridregister{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

/* -----------------------------------------------------------reg modal------------------------------------------------- */
.register_container{
  max-width: 1000px;
  width:100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin-right: 25px;
}
.register_container .title{
  font-size: 30px;
  font-weight: 500;
}
.register_container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
  border: 1px solid #5b7396;
   padding-left: 15px;
   margin-bottom: 5px;
   font-size: 18px;
   border-bottom-width: 2px;
   transition: all 0.3s ease-in-out;
}

.user-details .gender-box {
  height: auto;
  width: 100%;
  outline: none;
  border-radius: 5px;
  /* border: 1px solid #5b7396; */
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  border-bottom-width: 2px;
  transition: all 0.3s ease-in-out;
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.types{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;

}
/* .types label:hover{
  background-color: #1e91de;
  padding: 5px 20px;
  border-radius: 2px;
} */
form .button{
  height:45px;
  width:100%;
  margin: 10px 0;
}
form .button button{
   height: 100%;
   width: 100%;
   outline: none;
   font-weight: 500;
   outline: none;
   font-size: 20px;
   letter-spacing: 1px;
   border-radius: 8px;
   background: #34d77b;
   border-color: #34d77b;
}
.login h4 a{
      text-decoration: none;
      color:  #1e91de;
      cursor: pointer;
}
.login h4{
    text-align: center;
}


#uname-error, #num-error, #pass1-error, #pass2-error {
  color:red;
  font-size: 16px;
}

.forgot-container{
  max-width: 400px;
  width:50%;
  background: rgb(203, 101, 42);
  padding: 25px;
  border-radius: 8px;
  margin-right: 150px;
  height: 300px;
}

.forgot-container h2{
  font-size: 50px;
  padding-left: 140px;
}

.forgot-container .forgot-title{
  font-size: 25px;
  padding-left: 60px;
}

#forgot-form{
  padding-top: 10px;
}

/* #forgot-form span i{
    height: 100px;
}  */
#forgot-form input{
  height: 40px;
  width:350px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 50px;
}

#forgot-form button{
  margin-top: 20px;
  margin-left: 130px;
  padding: 10px;
  border-radius: 5px;
  border-color: #FFF;
}

#forgot-form h3{
  padding-top: 20px;
  padding-left: 100px;
}
#forgot-form h3 a{
  text-decoration: none;
  color: black;
}

#forgot-form span{
  position: relative;
}

#forgot-form span i{
       position: absolute;
       left: 15px;
      color: rgb(202, 121, 121);
      font-size: 16px;
       top: 2px;
}

#forgot-form button{
  background-color:#74b162;
  border: none;
  outline: none;
}
.gap{
  position: relative;
}
.error{
  color: red;
  position: absolute;
  margin-top: 75px;
  margin-left: -500px;
}



.error p{
  color:white;
  position: absolute;
   margin-left: 36px;
}

input.ng-invalid{border:3px solid red;}

    input.ng-valid{border:3px solid green; }


