
<!--
  Title : MedCare - Pharmacy
  Author: Gautam
  Created at : Febrary 2023
  Updated at : 13/06/2023
  Comments  :  -
  Reviewed by : Gautam
  Reviewed at  : 13/06/2023 -->


<section id="header">

  <h2><a routerlink="product"><i class="fa-sharp fa-solid fa-heart-pulse"></i>Medcare</a></h2>
  <div>
    <ul id="navbar">
      <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/product" routerLinkActive="active" >Products</a></li>
      <li><input type="search" placeholder="&nbsp;Search here" id="searchbox"></li>
      <li><a routerLink="/accountdetail" id="kk">Profile</a></li>
      <li><a routerLink="/cart" routerLinkActive="active" >&nbsp;Cart</a></li>
      <li><a (click)="loginmodal()" routerlink="" *ngIf="logInUser==false">Login </a></li>
      <li><a (click)="logout()" *ngIf="logInUser==true">Logout<i class="fa-solid fa-right-to-bracket"></i></a></li>
      <!-- {{logInUser.username}}  -->
      <a href="#" id="close"><i class="far fa-times"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
    <a> <i id="bar" class="fas fa-outdent"></i></a>
  </div>
</section>

<!-- --------------------------------------------------------------login modal-------------------------------------------------------- -->
<dialog class="Loginmodal">
  <div class="gridLogin">

    <div class="container">

      <div class="login_header">
        <a (click)="close()">
          < Back</a>
            <h1>Login</h1>

      </div>
      <div class="main">
        <form name="form"   [formGroup]="loginForm" (ngSubmit)="login()">

          <span>
            <i class="fa-solid fa-envelope"></i>
            <input id="user_email" type="text" placeholder="Enter your Email" name="usernamillogin" formControlName="userId"
            pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$"
             />
             <div class="errors" *ngIf="loginForm.controls['userId'].dirty">
              <p *ngIf="loginForm.controls['userId'].errors?.['required']">
                Enter the field
              </p>
              <p *ngIf="loginForm.controls['userId'].errors?.['pattern'] ">
                Enter valid Email id
              </p>
            </div>
          </span><br>
          <span>
            <i class="fa-solid fa-lock"></i>
            <input id="password" type="password" placeholder="Enter your Password" name="userloginpass"
            formControlName="password"
            pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,14}$" />

          <div class="errors" *ngIf="loginForm.controls['password'].dirty">
            <p *ngIf="loginForm.controls['password'].errors?.['required']">
              Enter the field
            </p>
            <p *ngIf="loginForm.controls['password'].errors?.['pattern']">
              Enter valid password
            </p>
          </div>

          </span><br>
          <button type="submit">Login</button>
          <!-- (click)="login(loginusers, loginpass)" -->
        </form>
        <div class="change-password">
          <h3><a routerLink="/forgot">Forgot password</a></h3>
        </div>
        <div class="register">
          <h3>Create an account <a (click)="registermodal()">Register</a></h3>
        </div>
      </div>
    </div>
  </div>

</dialog>




<!-- ---------------------------------------------------------------------------Register modal------------------------------------------------------- -->
<dialog class="Registermodal">
  <div class="gridregister">
    <div class="register_container">
      <div class="title"> Registration</div>
      <form id="form"  [formGroup]="formRegister" (ngSubmit)="submitForm()">

        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" name="fullname" pattern="^[A-Z]{1}[a-z]{2,16}$" placeholder="FirstName" class="input"
              formControlName="username" />
          </div>

          <div class="information-error" *ngIf="formRegister.controls['username'].dirty">
            <p class="error" *ngIf="formRegister.controls['username'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Name should not be Empty</p>
            <p class="error" *ngIf="formRegister.controls['username'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Enter the correct Fullname - only Alphabets</p>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="emailid" pattern="^[a-z0-9]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$" placeholder="Email-id"
              class="input" formControlName="email" />
          </div>
          <div class="information-error" *ngIf="formRegister.controls['email'].dirty">
            <p class="error" *ngIf="formRegister.controls['email'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Email-id should not be Empty</p>
            <p class="error" *ngIf="formRegister.controls['email'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Enter the correct email-id</p>
          </div>

          <div class="input-box">
            <span class="details">Phone number</span>
            <input type="tel" name="mobileno" pattern="^[ 6-9]{1}[0-9]{9}$" placeholder="Mobileno"
              class="input" formControlName="mobile" />
          </div>
          <div class="information-error" *ngIf="formRegister.controls['mobile'].dirty">
            <p class="error" *ngIf="formRegister.controls['mobile'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Phone number should not be empty</p>
            <p class="error" *ngIf="formRegister.controls['mobile'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Enter the correct mobile-number</p>
          </div>
          <div class="input-box">
            <span class="details">Dateof birth</span>
            <input type="date" placeholder="Enter your DOB"  formControlName="date" >
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" id="pass1" name="pass"
              pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,14}$" name="Password" class="input" required
              formControlName="password1" />
          </div>
          <div class="information-error1" *ngIf="formRegister.controls['password1'].dirty">
            <p class="error" *ngIf="formRegister.controls['password1'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp;Password should not be Empty</p>
            <p class="error" *ngIf="formRegister.controls['password1'].errors?.['pattern']"><i
                title="password have min 7 digits, uppercase, lowercase, number and special character"
                class="fas fa-exclamation-circle"></i>&numsp; Follow password Constraints</p>
          </div>

          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Retype your password" id="pass2" pattern="^[A-Z]{1}[a-z]+[@][1-9]{3,7}$"
              name="Password" class="input" required cpasswords formControlName="cpassword1">
          </div>
          <div class="information-error1" *ngIf="formRegister.controls['cpassword1'].dirty">
            <p class="error" *ngIf="formRegister.controls['cpassword1'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; conform Password should not be Empty</p>
            <p class="error" *ngIf="formRegister.controls['cpassword1'].errors?.['cpasswordvalid']"><i
                title="password have min 7 digits, uppercase, lowercase, number and special character"
                class="fas fa-exclamation-circle"></i>&numsp; Conform password should be same as password</p>
          </div>

          <div class="gender-box">
            <span class="gender-type">Gender</span>
            <div class="types">
              <input type="radio" id="male" name="gender" value="Male"  formControlName="gender">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="Female"  formControlName="gender" >
              <label for="female">Female</label><br>
              <input type="radio" id="others" name="gender" value="others"  formControlName="gender" >
              <label for="others">Others</label>
            </div>
          </div>
          <div class="button">
            <button>Register</button>
          </div>
          <div class="login">
            <h4>Already have an account <span><a (click)="loginmodal()">LOGIN</a></span></h4>
          </div>
        </div>
      </form>
    </div>
  </div>
</dialog>
<!-- </nav> -->
