
/* .................................................................................navbar.............................................. */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: rgb(20,33,61);
  position: sticky;
}

.logo {
  width: 50px;
  padding-left: 30px;
}

#header h2 {
  padding-right: 350px;
  color:rgb(229,229,229);
  font-weight: 800;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar #searchbox {
  height: 35px;
  margin-top: 10px;
  width: 170px;
  border-radius: 12px;
  border-color: rgb(38, 181, 242);
}
#navbar li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: rgb(36, 130, 159);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 21px;
  transition: 0.3s ease;
}

/* #navbar li a:hover {
    color:rgb(92, 230, 103);
} */

#navbar li a:hover,
#navbar li a.active {
  color: rgb(229,229,229);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(229,229,229);
  position: absolute;
  bottom: -4px;
  left: 30px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}


/* .........................................................................................................contact........................................ */
body{
  font-family:'open sans', sans-serif;
  line-height: 1.5;
}

.contact-bg {
 height: 40vh;
 background:linear-gradient(100deg,  rgb(72, 126, 117),  rgb(22,160,133));
 background-position: 50% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 text-align: center;
 color:rgb(4, 4, 4);
 font-size: 19px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.contact-bg h3 {
 font-size: 1.3 rem;
 font-weight: 400;
}

.contact-bg h2 {
 font-size: 3rem;
 text-transform: uppercase;
 padding: 0.4rem 0;
 letter-spacing: 4px;
}

.line div {
   margin: 0 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
 height:3px;
 width: 70px;
 background:rgb(10, 10, 10);
 border-radius: 5px;
}

.line {
 display: flex;
 align-items: center;
}

.line div:nth-child(2) {
 width: 10px;
 height: 10px;
 background: rgb(7, 7, 7);
 border-radius: 50%;
}

.text {
 font-weight: 300;
 opacity: 0.9;
}

.contact-bg .text {
 margin: 1.6rem 0;
}

.contact-body {
 max-width: 1320px;
 margin: 0 auto;
 padding: 0 1rem;
}

.contact-info {
 margin: 2rem;
 text-align: center;
 padding: 2rem 0;
 display: flex;
 justify-content: space-between;
}

.contact-info span {
 display: block;
}

.contact-info div {
 margin: 0.8rem 0;
 padding: 1rem;
}

.contact-info span .fas {
 font-size: 2rem;
 padding-bottom: 0.9rem;
 color: rgb(22,160,133);
}

.contact-info div span:nth-child(2) {
 font-weight: 500;
 font-size: 1.1rem;
}

.contact-info .text {
 padding-top: 0.4rem;
}

.contact-form {
 padding: 2rem 0;
 border-top: 1px solid #c7c7c7;
}

.contact-form form {
 padding-bottom: 1rem;
}

.form-control {
 width: 100%;
 border: 1.5px solid #54c7f0;
 border-radius: 5px;
 padding: 0.7rem;
 margin: 0.6rem 0;
 font-family: 'open sans, sans-serif';
 font-size: 1rem;
 outline: 0;
}

.form-control:focus {
 box-shadow: 0 0 10px 5px rgb(125, 181, 227);
}

.contact-form form div{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 column-gap: 0.6rem;
}

.send-btn {
 font-family: 'open sans, sans-serif';
 font-size: 1rem;
 text-transform: uppercase;
 color: #fff;
 background: crimson;
 border: none;
 border-radius: 5px;
 padding: 0.7rem 1.5rem;
 cursor: pointer;
 transition: all 0.4s ease;
}

.send-btn:hover {
 opacity: 0.8;
}

.contact-form {
 display: flex;
}
.contact-form  div img {
  width: 85%;
}

.contact-form  div {
 margin: 0 auto;
 text-align: center;
}

.contact-footer {
 padding: 2rem 0;
 background: #000;
}

.contact-footer h3 {
 font-size: 1.3rem;
 color: #fff;
 margin-bottom: 1rem;
 text-align: center;
}

.soacial-links{
 display: flex;
 border-radius: 50%;
 justify-content: center;
 align-items: center;
 margin: 0.4rem;
 transition: all 0.4s ease;
}
.soacial-links a{
 text-decoration: none;
 width: 40px;
 height: 40px;
 color: #fff;
}
.soacial-links a:hover {
 color:#3da53f;
}

#header a{
 text-decoration: none;
}



/* ***********************************************product page************************************** */


.productsDiv {
  background-color: var(--white);
  cursor: pointer;
}

.productGrid {
  display: grid;
}

.productBox {
  position: relative;
  width: 100%;
  height: 21rem;
  padding: 1.2rem;
  transition: all 0.4s ease-in-out;
}

.productImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage img {
  height: 8rem;
  max-width: 100%;
}

.imagePosition{
 display: flex;
 justify-content: center;
}

.productDec {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.productDetails {
  margin-bottom: 0.5rem;
}

.productPrice .rating {
  background-color: var(--rating);
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  padding: 2px 4px 2px 6px;
  margin-right: 0.5rem;
  border-radius: 0.4rem;
}

.productPrice{
  position: relative;
}

.productPrice .ratings {
  margin-bottom: 0.5rem;
}

.productPrice s {
  color: var(--grey);
}

.productBox:hover, .productBoxMain:hover {
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
}
.productBox:hover .figCaptionDiv{
  color:var(--gradient);
}
.productBox:hover .fa-heart{
  color: #Ff0000;
}
